<article id="birds">
  <section id="birds_main">
    <h4>Mole Valley is home to a wide range of bird species, many of which favour particular habitats. Some of these are highlighted below:</h4>
    </section>

    <section id ="birds_left">
      <h5>River Mole</h5>
      <p>Kingfishers can be seen along the length of the river – a flash of blue and orange flying swiftly past. Grey wagtails are also common often seen around the Leatherhead Town Bridge and in Winter goosanders can be seen swimming along the river.</p>

      <h5>Woodland</h5>
      <p>Our woodland areas host a wide variety of birds including 5 species of tit (blue, great, coal, long-tailed and marsh), great spotted woodpeckers, redpolls and siskins.</p>

      <h5>Farmland</h5>
      <p>There is a range of birds found in our farmland habitat including game birds such as pheasants and red-legged partridge. In the hedgerows you can see yellowhammers and finches and feeding in the fields there are often skylarks
      and thrushes; in the Winter the song and mistle thrushes are joined by redwings and fieldfares from Scandinavia.</p>
    </section>

    <section id="birds_right">

      <h5>Ponds and streams</h5>
      <p>Many common birds can be seen on our ponds and streams including mallards, coots, moorhens, Canada geese, greylag geese and grey wagtails.</p>

      <h5>Urban parks, green spaces and gardens</h5>
      <p>Another rich environment for several species of birds which include: green woodpeckers, robins, blackbirds, tits, pied wagtails and many more.</p>

      <h5>Commons and Heaths</h5>
      <p>Our commons and heathlands are home all year round to birds such as finches
      and tits. Rarer summer migrants include woodlarks (Headley Heath),
      nightingales and warblers (Bookham Common). Arguably the most important
      bird site in Mole Valley is Bookham Common for nightingales.</p>
    </section>

    <section id="slideshow"> 
      <h4>Enjoy watching our latest images</h4> 
      <ul id="css3-slider">
      <li>
        <input type="radio" id="s1" name="num" checked="true" />
        <label for="s1">1</label>
        <a href="javascript:void(0);">
        <img src="birds/1.jpg" />
        <span>Great crested grebe fishing</span>
        </a>
      </li>
      <li>
        <input type="radio" id="s2" name="num" />
        <label for="s2">2</label>
        <a href="javascript:void(0);">
         <img src="birds/2.jpg" />
        <span>Grey Heron</span>
        </a>
      </li>
      <li>
         <input type="radio" id="s3" name="num" />
        <label for="s3">3</label>
        <a href="javascript:void(0);">
        <img src="birds/3.jpg" />
        <span>Grey Heron</span>
        </a>
      </li>
      <li>
         <input type="radio" id="s4" name="num" />
        <label for="s4">4</label>
        <a href="javascript:void(0);">
        <img src="birds/4.jpg" />
        <span>Grey Wagtail</span>
        </a>
      </li>
      <li>
         <input type="radio" id="s5" name="num" />
        <label for="s5">5</label>
        <a href="javascript:void(0);">
        <img src="birds/5.jpg" />
        <span>House Martin</span>
        </a>
      </li>
    </ul>
    </section>
  </article>
