<article id="fungi">
  <section id="fungi_main">
    <h2>Mole Valley Fungi</h2>
    <h5>The good, the bad and the beautiful! Here are five examples of fungi that are typical of habitats in Mole Valley. They have been selected to provide a variety of forms, and times of occurrence.</h5>
  </section>

    <section id="fungi_left">
    <h5>Penny Bun: Boletus edulis</h5>
    <p>A prized edible species, found in broadleaved and mixed woodland. Forms (mycorrhizal) association with the tree roots.
    One of the <q>sponge caps</q> with pores in place of gills on its lower surface.</p><br />

    <h5>Death Cap: Amanita phalloides</h5>
    <p>Highly toxic, a quarter of a cap kills very unpleasantly - but not slugs! Most of the Amanita family are poisonous.       Learn to recognise these fungi if you collect for the table. Found under oak, with which it forms a (mycorrhizal) association.</p>
  </section>

  <section id="fungi_right">
    <h5>Sulphur Polypore; Chicken of the Woods: Laetiporus sulphureus</h5>
    <p>Brilliant yellow, with salmon-orange tones.Grows on trunks of living trees, mainly oak and chestnut, and also even on Yew*, causing heart rots. Edible, and prized in USA, but can cause gastro-intestinal upsets. [*  do not eat any picked from this toxic tree!]</p>

    <h5>Scarlet elfcup: Sarcosypha austriaca</h5>
    <p>This bright cup fungus (ascomycete) is occasionally found in Mole valley, very early in the year, growing on old mossy fallen trunks in woodland, especially on hazel and elm. The cups are 1-5 cm. across.</p>

    <h5>Thimble Morel: Verpa conica</h5>
    <p>Quite rare and confined to hawthorn scrub on chalk. There is much of this in Mole Valley, and 2004 was a good year for this small and elusive spring species. An ascomycete with a hollow stem.</p>

  </section>

  <section id="slideshowfungi"> 
    <h3>Enjoy watching our latest images</h3> 
    <ul id="css3-slider">
      <li>
        <input type="radio" id="s1" name="num" checked="true" />
        <label for="s1">1</label>
        <a href="javascript:void(0);">
        <img src="fungi/1.jpg" />
        <span>Bole Edul</span>
        </a>
      </li>
      <li>
        <input type="radio" id="s2" name="num" />
        <label for="s2">2</label>
        <a href="javascript:void(0);">
         <img src="fungi/2.jpg" />
        <span>Death Cap</span>
        </a>
      </li>
      <li>
         <input type="radio" id="s3" name="num" />
        <label for="s3">3</label>
        <a href="javascript:void(0);">
        <img src="fungi/3.jpg" />
        <span>ElfcapAsh</span>
        </a>
      </li>
      <li>
         <input type="radio" id="s4" name="num" />
        <label for="s4">4</label>
        <a href="javascript:void(0);">
        <img src="fungi/4.jpg" />
        <span>Laetip</span>
        </a>
      </li>
      <li>
         <input type="radio" id="s5" name="num" />
        <label for="s5">5</label>
        <a href="javascript:void(0);">
        <img src="fungi/5.jpg" />
        <span>Verpcon</span>
        </a>
      </li>
    </ul>
    </section>
      <section id="index_extra">
    <h5>Newsletter Signup</h5>
    <form role="form">
      <div class="form-group">
       <label for="exampleInputEmail1">Email address</label>
       <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-info">Sign Up</button>
    </form>
  </section>
    <section id="fungi_bfooter">
            <p>(Text and Photographs by Ray Tantram &copy 9th. March 2005)</p>
    </section>
</article>
            


