<header id="page_header" role="banner">
	
	<section class="logo">
		<a href ="/index"><img src="logo.png" href="/index" alt"logo" class="img-rounded"></a>
	</section>
	
	<h1>Mole Valley Nature History</h1>

</header>